body {
    background: #eee;
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-family: sans-serif, arial;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
div {
    position: relative;
}
form {
    padding:10px;
    background: #eee;
    border: 1px solid #aaa;
}
form input {
    margin: 5px;
    border: 1px solid #aaa;
}
form input[type=submit]:hover {
    cursor: pointer;
    background: #e3e3f3;
} 
form label{padding:5px;}
table{font-size:14px;}
th,td{padding:5px;}
#header {
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
}
#content {
    background: #fff;
    padding: 10px;
}

#header a:hover {
    background: #fff;
}
#footer {
    padding: 10px;
    /*border-top: 1px solid #aaa;*/
}


.message {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #aaa;
    background: #e5e8f3;
    padding: 50px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 0px 3px #888;
    -webkit-box-shadow: 0px 0px 3px #888;
    box-shadow: 0px 0px 3px #888;
}

.form-control{
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}
.form-control:focus{
    border-color: #5cb85c;
}
.form-control, .btn{        
    border-radius: 3px;
}
.signup-form{
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form h2{
    color: #333;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}
.signup-form h2:before, .signup-form h2:after{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}	
.signup-form h2:before{
    left: 0;
}
.signup-form h2:after{
    right: 0;
}
.signup-form .hint-text{
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}
.signup-form form{
    color: #333;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group{
    margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
    margin-top: 3px;
}
.signup-form .btn{        
    font-size: 16px;
    font-weight: bold;		
    min-width: 140px;
    outline: none !important;
    width: 25%;
}
.signup-form .row div:first-child{
    padding-right: 10px;
}
.signup-form .row div:last-child{
    padding-left: 10px;
}    	
.signup-form a{
    color: #fff;
    text-decoration: underline;
}
.signup-form a:hover{
    text-decoration: none;
}
.signup-form form a{
    color: #5cb85c;
    text-decoration: none;
}	
.signup-form form a:hover{
    text-decoration: underline;
}  